* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 110px;
    max-width: 1230px;
    margin: 0px auto;
}

.figure {
    position: relative;
    width: 550px;
    height: 550px;
}

.circle__one, .circle__two, .circle__three, .circle__four {
    position: absolute;
    z-index: 5;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: red;
}

.circle__one:hover {
    background-color:teal;
    z-index: 7;
}

.circle__two {
    left: 100%;
    transform: translate(-100%, 0);
}

.circle__two:hover {
    background-color:yellow;
    z-index: 7;
}

.circle__three { 
    top: 100%;
    transform: translate(0, -100%);
}

.circle__three:hover {
    background-color:orange;
    z-index: 7;
}

.circle__four { 
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.circle__four:hover {
    background-color:navy;
    z-index: 7;
}

.square__big {
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 6;
    width: 70%;
    height: 70%;
    background:blue;
}